{% extends 'base.html' %}

{% block style %}
<style>
    .jumbotron {
    width: 800px;
    height: 380px;
    position: absolute;
    opacity: 0.7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #000;
  }
</style>
{% endblock style %}

{% block title %}Motto{% endblock title %}

{% block content %}
      <div class="container-fluid mt-4">
        <div class="row justify-content-center">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h3 class="display-5">"Positivity"</h3>
              <p class="lead">

                [Guru]
                <br/>
                Now is the chance to advance and get an outlook
                Create the circumstance, because I doubt books
                can relay, words this way, so I'll portray
                a new image, and let's begin as
                members who pledge to, look up ahead to
                a beautiful world, though we've been led to
                believe it will not be and, we still are seein
                Agreein there'll be peace, the wealth will increase
                and we'll prosper, you know like flourishin
                The rhyme I toss ya, it will be nourisihin
                I must bring, ideals for better living see
                Because I do believe in positivity
                <br/>
                "Positive but never negative"
                <br/>
                [DJ Premier cuts n scratches]
              </p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

